@import "_variables.scss";
html {
    //Para el return-to-top
    scroll-behavior: smooth;
}
//General Fonts
* {
    font-family: "Raleway", sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h3 {
    font-size: 35px;
    font-weight: 700;
}
h4 {
    font-size: 24px;
    font-weight: 400;
}
h5 {
    font-size: 20px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: 400;
}

//! Clases funcionales generales
.hidden {
    display: none;
}

.noHover {
    pointer-events: none;
}

.deco-none {
    color: inherit;
    text-decoration: inherit;
}
.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}
.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

//! General Botones
.btn--black {
    background-color: $negroPanda;
    padding: 0.7rem 2.3rem;
    border-radius: 2rem;
    transition: all 300ms ease;
    h4 {
        font-size: 20px;
        font-weight: 500;
        color: $blancoPanda;
        text-align: center;
        margin-bottom: 0;
    }
}
.btn--black:hover {
    background-color: $blancoPanda;
    border-color: $amarilloPanda;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    transition: 300ms ease;
    h4 {
        color: $negroPanda;
    }
}

.btn--salmon {
    background-color: $salmonPanda;
    padding: 0.7rem 2.3rem;
    border: transparent;
    border-radius: 2rem;
    transition: all 300ms ease;
    h4 {
        font-size: 20px;
        font-weight: 500;
        color: $blancoPanda;
        text-align: center;
        margin-bottom: 0;
    }
}
.btn--salmon:hover {
    background-color: $blancoPanda;
    border-color: $blancoPanda;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    transition: 300ms ease;
    h4 {
        color: $salmonPanda;
    }
}

.txt--yellow {
    color: $amarilloPanda;
}
.txt--yellow:hover {
    color: $negroPanda;
    background-color: $amarilloPanda;
}

//! Return to Top
#return-to-top {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    @media (max-width: 767px) {
        width: 35px;
        height: 35px;
    }
    text-decoration: none;
    border-radius: 35px;
    opacity: 0;
    transition: all 0.4s ease;
    i {
        color: $blancoPanda;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        @media (max-width: 767px) {
            font-size: 15px;
            left: 10.6px;
            top: 5px;
        }
        font-size: 19px;
        transition: all 0.4s ease;
    }
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
    @media (max-width: 767px) {
        top: 2px;
    }
}

#return-to-top.active {
    opacity: 1;
}

//! Banner 1 - Descargar Catálogo
.banner--catalogo {
    background-color: $amarilloPanda;
    .row {
        justify-content: space-evenly;
        align-items: center;
    }
    .divisionFoto {
        img {
            text-align: center;
        }
    }
    .divisionTexto {
        span {
            font-weight: 400;
        }
        .textoRojo {
            font-weight: 700;
            color: $rojoPanda;
        }
    }
}

//! Banner 2 - Banner Envios
.banner--envios {
    background-color: $negroPanda;
    // .envios--content {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    h1 {
        color: $blancoPanda;
    }
    // }
}

//! Popup
.modal {
    .modal-content {
        border: 15px solid $rojoPanda;
        border-radius: 0;
        .modal-header {
            border-bottom: 1px transparent;
        }
        .modal-body {
            padding-bottom: 6px;
        }
        .modal-footer {
            border-top: 1px transparent;
            p {
                font-size: 14px;
            }
        }
    }
    #popupContent--1 {
        form {
            button {
                font-size: 24px;
                line-height: 0.9;
                padding: 0.5rem 1.1rem;
                position: relative;
                right: 50px;
            }
            .input-email {
                padding-left: 40px;
                input {
                    width: 253px;
                }
            }
        }
    }
    #popupContent--2 {
        .modal-footer {
            button {
                font-size: 18px;
                font-weight: 700;
                padding: 0.6rem 1.7rem;
            }
        }
    }
}
img #popupModalLabel {
    padding: 0px;
}

//! ---Newsletter---
.banner-newsletter {
    background-color: $amarilloPanda;
    h5 {
        font-weight: 500;
    }
    form {
        button {
            font-size: 24px;
            line-height: 0.9;
            padding: 0.5rem 1.1rem;
            position: relative;
            right: 50px;
        }
        .input-email {
            padding-left: 40px;
            input {
                width: 18rem;
                border-radius: 2rem;
                padding: 1.2rem 0;
            }
        }
    }
}
//! ---End Newsletter

//! Footer
footer {
    background-color: $rojoPanda;
    p {
        color: $blancoPanda;
        margin-bottom: 0.3rem;
    }
    .footer--titulo {
        font-weight: 500;
    }

    .logos-redes {
        display: flex;
        div {
            padding-right: 0.4rem;
        }
    }
    .medio-de-pago {
        display: flex;
        img {
            padding-right: 1rem;
        }
    }
}

//! ---Carousel---
.carousel-card {
    @media (max-width: 767px) {
        height: 33%;
    }
    @media (min-width: 768px) {
        height: 100%;
    }
}
.card {
    border: transparent;
}
.btn--carousel {
    background-color: $salmonPanda;
    min-width: 283px;
    min-height: 48px;
    border-radius: 2rem;
    transition: all 300ms ease;
    h4 {
        font-size: 20px;
        font-weight: 500;
        color: $blancoPanda;
        text-align: center;
        margin-bottom: 0;
    }
}
.btn--carousel:hover {
    background-color: $amarilloPanda;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    transition: 300ms ease;
    h4 {
        color: $salmonPanda;
    }
}
.carousel-control-next-icon {
    //Flecha del carousel
    background-image: url("https://img.icons8.com/material/96/000000/circled-chevron-right--v1.png");
}
.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/material/96/000000/circled-chevron-left--v1.png");
}

/** CSS grid imgs **/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.1fr 1fr 1fr 0.7fr 1.2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . . . . ."
        "area5 area5 area5 area1 area1 area1 area2 area2 area2 area2"
        "area5 area5 area5 area1 area1 area1 area2 area2 area2 area2"
        "area5 area5 area5 area3 area3 area3 area3 area4 area4 area4"
        "area5 area5 area5 area3 area3 area3 area3 area4 area4 area4"
        ". . . . . . . . . .";
}
.area5 {
    grid-area: area5;
}
.area1 {
    grid-area: area1;
}
.area2 {
    grid-area: area2;
}
.area3 {
    grid-area: area3;
}
.area4 {
    grid-area: area4;
}

/**  carousel secciones CSS **/
.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display: inline-flex;
}
/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow: hidden;
}
/* smoother transitions */
.carousel-inner > .carousel-item.next.left,
.carousel-inner > .carousel-item.prev.right {
    transition: all 1s ease;
}
div.col-md-10.p-4 {
    background-color: #de1457;
}
//! ---End Carousel---

//! ---Navbar---
header {
    .hid {
        display: none;
    }
    .menu-flotante {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;
        top: 0;
        left: 0;
    }
    .menu-flotante .interno {
        padding: 20px;
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
    }
    .menu-flotante .interno ul {
        padding: 10px;
        list-style-type: none;
    }
    .menu-flotante .interno ul.secciones1 {
        font-weight: bold;
    }
    .menu-flotante .interno ul.secciones2 {
        margin-top: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 248, 84)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
    div.col-8.offset-sm-4 {
        margin-left: 20%;
        padding: 0;
    }
    .logoMenu {
        width: 80%;
        height: 80%;
    }
    div.col-8 {
        margin-top: 7px;
    }
    ul.secciones1 {
        font-size: 0.85rem;
    }
    ul.secciones2 {
        font-size: 0.85rem;
    }
    ul.secciones1 li {
        position: relative;
    }
    ul.secciones2 li {
        position: relative;
    }
    .submenu1 {
        position: absolute;
        background-color: white;
        display: none;
    }
    .atCliente:hover + .submenu1 {
        left: 140%;
        width: 250px;
        height: 395px;
        display: block;
        top: -150px;
        padding-top: 75px;
        padding-left: 40px;
        padding-right: 20px;
        font-weight: 400;
    }
    .submenu2 {
        position: absolute;
        background-color: white;
        display: none;
    }
    .hoYja:hover + .submenu2 {
        left: 120%;
        width: 500px;
        height: 389px;
        top: -200px;
        font-weight: 400;
        display: block;
        padding-top: 75px;
        border-left: 1px solid black;
    }
    .moYbe:hover + .submenu3 {
        left: 130%;
        width: 500px;
        height: 389px;
        top: -220px;
        font-weight: 400;
        display: block;
        padding-top: 75px;
        border-left: 1px solid black;
    }
    .liYco:hover + .submenu4 {
        left: 120%;
        width: 500px;
        height: 388px;
        top: -240px;
        font-weight: 400;
        display: block;
        padding-top: 75px;
        border-left: 1px solid black;
    }
    .submenu3 {
        position: absolute;
        background-color: white;
        display: none;
    }
    .submenu4 {
        position: absolute;
        background-color: white;
        display: none;
    }
    a {
        color: black;
    }
    button.navbar-toggler.collapsed.col-4 {
        display: block;
        position: absolute;
        content: 40px;
        padding: 0px;
        border: none;
        width: 100px;
        height: 40px;
    }

    button.close {
        font-size: 50px;
        margin: 0;
        padding: 0;
    }
    /** News Letters */
    div.col-md-12.newsLetters.pt-4 {
        background-color: #fff854;
    }
    /*buscador*/
    #navSearch {
        display: block;
    }

    .inner-addon {
        position: relative;
    }
    .inner-addon .fa.fa-search {
        position: absolute;
        padding: 20px;
        pointer-events: none;
        margin-left: 10px;
    }
    .left-addon {
        left: 0px;
    }
    .left-addon input {
        padding-left: 30px;
    }
    input.form-control {
        border-radius: 70px;
        width: 400px;
        height: 45px;
        margin: 0px;
        padding: 0px;
    }
    /*logo*/
    img.logo {
        position: relative;
        display: inline-block;
        left: 48.75%;
        right: 78.06%;
        top: 20%;
    }
    div.form-group {
        position: relative;
    }
    h3.nuestrosProductos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h3.masElegidos {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.iconosNav.col-4 {
        display: inline;
        position: flex;
        text-align: center;
    }
    .iconoNav {
        display: inline;
        position: flex;
    }
    /*login*/
    input[type="text"],
    input[type="password"] {
        width: 150%;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 70px;
        text-align: center;
    }
    button:hover {
        opacity: 0.8;
    }
    .cancelbtn {
        width: 100px;
        background-color: #ff351e;
        border-radius: 70px;
        color: #313638;
    }
    .btnSubLog {
        width: 50%;
        background-color: #313638;
        border-radius: 70px;
        color: #f7d942;
    }
    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .nav-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 40px;
    }

    /* Modal Content/Box */
    .nav-modal {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #e61e27;
        width: 100%;
    }

    /* The Close Button (x) */
    .nav-close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .nav-close:hover,
    .nav-close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s;
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0);
        }
        to {
            -webkit-transform: scale(1);
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
            color: #313638;
            border-radius: 70px;
            padding: 0;
        }
        .btnSubLog {
            width: 100%;
            border-radius: 70px;
            padding: 0;
        }
    }
}
//! ---End Navbar---

/*librería*/
.lapices {
    width: 90%;
    height: 90%;
    padding: 0px;
}
input.item-count{
width: 20px;
padding-top: 0px;
}
button#btncart.btn.btn--black.addToCart{
  width: 40px;
  padding: 2px;
}
button.update-btn{
  width: 15px;
  padding: 0px;
}
